### This gitignore template is taken from an external source ###

# Global excludes across all subdirectories
*.o
*.obj
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.sl.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc
__pycache__/
*.py[cod]
own/test_data/*
.idea/

# Dont ignore these files
!own/test_data/README.md
!own/test_data/MOT17-02-gt.txt
!own/test_data/MOT17-04-gt.txt
!own/test_data/MOT17-09-gt.txt
!own/test_data/MOT17-02-raw.webm
!own/test_data/MOT17-04-raw.webm
!own/test_data/MOT17-09-raw.webm


# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/tmp_install/

own/alex.py
